{% if block.backgroundImage is defined and block.backgroundImage|length > 0 %}
  {% set backgroundImage = block.backgroundImage.one.url %}
  {% set contentBg = 'true' %}
{% else %}
  {% set backgroundImage = '' %}
  {% set contentBg = 'false' %}
{% endif %}

<section style="background-image: url({{backgroundImage}});" class="builder-section content-section call-to-action pad--vertical text-white">
  <div class="container">
    <div class="row">
      {% if block.position == 'left' %}
        <div class="col-md-6" data-aos="fade-up" data-aos-delay="0">
          {% if block.sectionTitle %}
            <h2>
              {{ block.sectionTitle }}
            </h2>
          {% endif %}

          {{ block.blockContent }}
          
          {{ block.cta.link({class: 'btn btn-primary btn-lg'}) }}
        </div>
      {% else %}
        <div class="col-md-6 offset-md-6" data-aos="fade-up" data-aos-delay="0">
          {% if block.sectionTitle %}
            <h2>
              {{ block.sectionTitle }}
            </h2>
          {% endif %}

          {{ block.blockContent }}
          
          {{ block.cta.link({class: 'btn btn-primary btn-lg'}) }}
        </div>
      {% endif %}
    </div>
  </div>
</section>