<div class="builder-section image-with-text margin--top-half margin--bottom">
  <div class="container">
    {% if block.sectionTitle %}
      <h2>
        {{ block.sectionTitle }}
      </h2>
    {% endif %}

    <div class="row align-items-center">
      {% if block.position == 'left' %}
        <div class="col-md-6" data-aos="fade-up" data-aos-delay="0">
          <div>
            {{ block.image.one.img }}
          </div>
        </div>
        <div class="col-md-6 content" data-aos="fade-up" data-aos-delay="250">
          {{ block.blockContent }}
        </div>
      {% else %}
        <div class="col-md-6 content" data-aos="fade-up" data-aos-delay="0">
          {{ block.blockContent }}
        </div>
        <div class="col-md-6" data-aos="fade-up" data-aos-delay="250">
          {{ block.image.one.img }}
        </div>
      {% endif %}
    </div>
  </div>
</div>
