<div class="builder-section video-with-text pad--vertical background-lightGray">
  <div class="container">

    {% if block.sectionTitle %}
        <h2>
            {{ block.sectionTitle }}
        </h2>
    {% endif %}

    <div class="row align-items-center">
      {% if block.position == 'left' %}
        <div class="col-md-6">
          {{ block.videoOrEmbedCode|raw }}
        </div>
        <div class="col-md-6 content">
          {{ block.blockContent }}
        </div>
      {% else %}
        <div class="col-md-6 content">
          {{ block.blockContent }}
        </div>
        <div class="col-md-6">
          {{ block.videoOrEmbedCode|raw }}
        </div>
      {% endif %}
    </div>
  </div>
</div>
