
{% if background is defined and background|length > 0 %}
  {% set backgroundImage = background %}
  {% set contentBg = 'true' %}
{% else %}
  {% set backgroundImage = '' %}
  {% set contentBg = '' %}
{% endif %}

<section class="product-intro pad--vertical" style="background-image: url({{backgroundImage}});">
  <div class="container">
    <div class="row align-items-center" data-aos="fade-up">
      <div class="col-lg-5 product-intro_content color--white background--{{contentBg}}">
        <h2>{{ title }}</h2>
        {{ content }}
      </div>
      <div class="col-lg-7">
        <div class="product-intro_slider">
          {% for photo in photos %}
            <div class="slide">
              <img src="{{ photo.url }}"/>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>