<!doctype html>
{% spaceless %}
    {% if bodyClasses is not defined %}
        {% set bodyClasses = [] %}
    {% endif %}

    {% if section is defined %}
        {% set bodyClasses = bodyClasses|merge([section|kebab]) %}
    {% else %}
        {% set section = '' %}
    {% endif %}

    {% if entry is defined %}
      {% if title is not defined %}
          {% set title = entry.htmlTitleOverride ?: (entry.title ~ " | " ~ siteName) %}
      {% endif %}

      {% set bodyClasses = bodyClasses|merge(['section-' ~ (entry.section.handle|kebab)]) %}

      {% if metaDescription is not defined %}
          {% set metaDescription = entry.metaDescription %}
      {% endif %}
      {% if openGraphDescription is not defined %}
          {% set openGraphDescription = entry.openGraphDescription %}
      {% endif %}
      {% if openGraphImage is not defined and entry.openGraphImage|length > 0 %}
          {% set openGraphImage = entry.openGraphImage.one.url %}
      {% endif %}
      {% if openGraphTitle is not defined %}
          {% set openGraphTitle = entry.openGraphTitle %}
      {% endif %}
    {% else %}
      {% if title is not defined %}
          {% set title = category.htmlTitleOverride ?: (category.title ~ " | " ~ siteName) %}
      {% endif %}

      {% if metaDescription is not defined %}
          {% set metaDescription = category.metaDescription %}
      {% endif %}
      {% if openGraphDescription is not defined %}
          {% set openGraphDescription = category.openGraphDescription %}
      {% endif %}
      {% if openGraphImage is not defined and category.openGraphImage|length > 0 %}
          {% set openGraphImage = category.openGraphImage.one.url %}
      {% endif %}
      {% if openGraphTitle is not defined %}
          {% set openGraphTitle = category.openGraphTitle %}
      {% endif %}
    {% endif %}

{% endspaceless %}
<html class="bg-dark" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{{ title }}</title>

        {% if metaDescription is defined and metaDescription|length > 0 %}
            <meta name="description" content="{{ metaDescription }}" />
        {% endif %}
        {% if openGraphImage is defined and openGraphImage|length %}
            <meta property="og:image" content="{{ openGraphImage }}" />
        {% endif %}
        {% if openGraphTitle is defined and openGraphTitle|length %}
            <meta property="og:title" content="{{ openGraphTitle }}" />
        {% endif %}
        {% if openGraphDescription is defined and openGraphDescription|length %}
            <meta property="og:description" content="{{ openGraphDescription }}" />
        {% endif %}

        <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,900,700,700i&display=swap" rel="stylesheet"> 

        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> 

        <link rel="stylesheet" href="{{ mix('/css/main.css') }}">

        {% if entry is defined and entry.headerCode %}
            {{ entry.headerCode|raw }}
        {% endif %}
    </head>
    <body class="{{ bodyClasses|join(' ') }}" >
      <header class="primary">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top" data-aos="fade-down" data-aos-delay="0">
          <div class="container">
            <a class="navbar-brand" href="/"><img src="/resources/media/EverBrite-logo.png" class="site-logo"/></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item {{ section == 'products' ? 'active' : '' }}">
                  {% set page = craft.entries.section('productsPage').one %}
                  <a class="nav-link" href="{{ page.url }}">
                    Products
                    {% if section == 'products' %}
                      <span class="sr-only">(current)</span>
                    {% endif %}
                  </a>
                </li>
                <li class="nav-item {{ section == 'blog' ? 'active' : '' }}">
                  {% set page = craft.entries.section('blogPage').one %}
                  <a class="nav-link" href="{{ page.url }}">
                    {{ page.title }}
                    {% if section == 'blog' %}
                      <span class="sr-only">(current)</span>
                    {% endif %}
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    Promotions
                  </a>
                </li>
                <li class="nav-item {{ section == 'contactPage' ? 'active' : '' }}">
                  {% set page = craft.entries.section('contactPage').one %}
                  <a class="nav-link" href="{{ page.url }}">
                    Contact
                    {% if section == 'contactPage' %}
                      <span class="sr-only">(current)</span>
                    {% endif %}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>

      <main role="main" class="">
        {% block content %}{% endblock %}
      </main>

      <footer class="background-orange text-white pad--small">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md">
              {# {{ siteName }} #}
              <small class="d-block">© {{ "now"|date("Y") }} | All Rights Reserved | EverBrite</small>
            </div>
          </div>
        </div>
      </footer>

      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script src="{{ mix('/js/manifest.js') }}"></script>
      <script src="{{ mix('/js/vendor.js') }}"></script>
      <script src="{{ mix('/js/main.js') }}"></script>

      {% if entry is defined and entry.footerCode %}
        {{ entry.footerCode|raw }}
      {% endif %}
    </body>
</html>
